@import './mixin.scss';
@import "~THEME_VAR.scss";

$color-primary: $color-primary-secondary;
// 全局样式
html {
  height: 100%;
  font-size: 14px;
}
body {
  min-width: 1280px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: PingFang SC, Microsoft YaHei, Arial, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  color: $color-text-primary;
  &.el-popup-parent--hidden {
    overflow-y: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a:focus,
a:active,
div:focus {
  outline: none;
}
a,
a:focus,
a:hover {
  cursor: pointer;
  color: $fontBlue;
  text-decoration: none;
}
.link {
  color: $color-primary;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.clearfix {
  @include clearfix()
}

.box-shadow-base {
  @include box-shadow('base')
}
.box-shadow-light {
  @include box-shadow()
}

.center-block {
  display: block;
  margin: 0 auto;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.pointer {
  cursor: pointer;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
// text theme
.text-regular {
  color: $color-text-regular !important;
}
.text-secondary {
  color: $color-text-secondary !important;
}
.font-primary, .text-primary {
  color: $color-text-primary !important;
}
.font-green, .text-green, .text-success {
  color: $fontGreen !important;
}
.font-blue, .text-blue {
  color: $fontBlue !important;
}
.font-yellow, .text-yellow, .text-warning {
  color: $fontYellow !important;
}
.font-red, .text-red, .text-danger {
  color: $fontRed !important;
}
.font-gray, .text-gray, .text-disable {
  color: $fontGray !important;
}
// text size
.text-mini, .font-mini {
  font-size: 12px;
}
.text-strong {
  font-weight: bold;
}
// 单行文字溢出省略
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.text-ellipsis-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.scrollBar {
  overflow: auto;
  @include scrollBar()
}
.border-b {
  border-bottom: 1px solid $borderGray !important;
}
.border-t {
  border-top: 1px solid $borderGray !important;
}
.border-r {
  border-right: 1px solid $borderGray !important;
}
.border-l {
  border-left: 1px solid $borderGray !important;
}
.border {
  border: 1px solid $borderGray !important;
}

.block {
  display: block !important;
}
.inline {
  display: inline-block !important;
}
.inline-input {
  display: inline-block !important;
  width: 200px !important;
}
.input-search {
  .el-input-group__append{
    border: 1px solid $color-primary;
    color: #fff;
    border-radius: 0px;
    padding: 0 10px;
    width: 1px;
    background-color: $color-primary;
    cursor: pointer;
  }
}

.bg-gray {
  background: $bgGray !important;
}
.bg-none {
  background: transparent !important;
}

// tag形式的checkbox
.app-checkbox-tag {
  // .el-checkbox + .el-checkbox {
  //   margin-left: 10px;
  // }
  .el-checkbox {
    padding: 4px 12px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    overflow: hidden;
    color: #b1b1b1;
    line-height: 1;
    margin-right: 10px;
    &.is-checked {
      border-color: $color-primary;
      &:before {
        content: '';
        position: absolute;
        right: -3px;
        bottom: 0px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 14px solid $color-primary;
        border-left: 8px solid transparent;
        border-bottom: 9px solid $color-primary;
      }
      &:after {
        content: '';
        position: absolute;
        right: 1px;
        bottom: 5px;
        width: 8px;
        height: 3px;
        border-top: none;
        border-right: none;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
      }
    }
    .el-checkbox__input {
      display: none !important;
    }
    .el-checkbox__label {
      padding-left: 0;
      font-size: 12px;
    }
  }
}

// tag形式的radio
.app-radio-tag {
  // .el-radio + .el-radio {
  //   margin-left: 10px;
  // }
  .el-radio {
    padding: 6px 16px;
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    overflow: hidden;
    color: #b1b1b1;
    margin-right: 10px;
    &.is-checked {
      border-color: $color-primary;
      &:before {
        content: '';
        position: absolute;
        right: -3px;
        bottom: 0px;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 14px solid $color-primary;
        border-left: 8px solid transparent;
        border-bottom: 9px solid $color-primary;
      }
      &:after {
        content: '';
        position: absolute;
        right: 1px;
        bottom: 5px;
        width: 8px;
        height: 3px;
        border-top: none;
        border-right: none;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
        -moz-transform: rotate(-50deg);
        -webkit-transform: rotate(-50deg);
        -o-transform: rotate(-50deg);
      }
    }
    .el-radio__input {
      display: none !important;
    }
    .el-radio__label {
      padding-left: 0;
      font-size: 12px;
    }
  }
}
// plain radio
.app-radio-plain {
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: $color-primary;
    background: #fff;
    border-color: $color-primary;
  }
}

.table-btn-group {
  display: inline-block;
  .el-button--text {
    min-width: auto !important;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}
.cropper-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

// bootstrap3栅格布局
// 貌似element-ui布局有兼容百分比，todo...
// https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap-grid.css

.table-container {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 10px;
}

.action-group {
  display: inline-block;
  font-size: 0;
  .action-group-item {
    font-size: 14px;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid $borderGray;
    &:last-child {
      border-right-color: transparent;
    }
  }
}

.table-btn-group {
  .el-button--mini {
    min-width: auto !important;
  }
}

.table-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  margin-bottom: 16px;
}

// chart
.echarts {
  width: 100%;
  height: 100%;
}
.chartWrap {
  position: relative;
  padding: 15px;
  background: #fff;
  margin-bottom: 16px;
  &-title {
    padding-left: 6px;
    border-left: 4px solid $color-primary;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
  }
  .echarts {
    width: 100%;
    height: 300px;
  }
  &-title-tools {
    position: absolute;
    top: 10px;
    height: 28px;
    padding-left: 80px;
  }
}
// tree-menu
.tree-scroll {
  position: relative;
  height: 100%;
  .tree-toggle {
    cursor:pointer;
  }
  .tree-toggle-row {
    position: relative;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
  }
}
.tree-catalog {
  font-size: 12px;
  .el-tree-node__content {
    padding:0 10px;
    &:hover {
      background: $color-primary-light
    }
  }
  .active {
    color: $color-primary;
  }
  .tree-file-icon {
    font-size: 14px;
    margin-right: 6px;
  }
}

// tips
.app-tips {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;
  &-error {
    background-color: #fef0f0;
    color: #f56c6c;
  }
}

// 下拉组件底部
.app-dropdown-menu-footer {
  display: block;
  text-align: center;
  padding: 10px 20px;
}

.btn-back {
  margin-right: 10px;
  color: $color-primary;
  cursor: pointer;
}
// 敬请期待
.p-modules-await {
  text-align: center;
  color: $color-text-secondary;
  font-size: 22px;
  line-height: 90px;
}
// 竖向步骤条
.step-item{
  overflow: hidden;
  .step-item-left{
    float: left;
    .circle{
      width: 30px;
      height: 30px;
      display: inline-block;
      border: 2px solid $color-primary;
      color: $color-primary;
      border-radius: 50%;
      text-align: center;
      line-height: 28px;
      margin-right: 15px;
    }
    .line{
      height: 50px;
      width: 1px;
      border: 1px dashed $color-primary;
      margin: 10px 15px;
    }
  }
  .step-content{
    float: left;
    .step1-txt{
      margin-bottom: 10px;
    }
  }
}
