//to reset talebase-ui default css
// table
.t-table__operations-selected i {
  margin: 0 4px;
}
// 选中标签
.t-selectable-tag--type-1 {
  border: 1px solid transparent !important;
}
.t-selectable-tag--type-1--active {
  border: 1px solid #374fbb !important;
}

// tabs
.t-tabs__wrapper-1 .t-tabs__content {
  background-color: #fff !important;
}
